body {
  padding: 52px;
  max-width: 1100px;
  margin: auto;
}

::selection {
  background-color: #958831;
  color: white;
}

.hidden {
  display: none;
}

header {
  margin-bottom: 52px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 65px;
      line-height: 65px;
    }

    .links {
      display: flex;
      gap: 13px;
      a {
        display: inline-block;
        width: 52px;
        height: 52px;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .gh {
        background-image: url(svg/github.svg);
      }

      .x {
        background-image: url(svg/x.svg);
      }
    }
  }

  p {
    font-size: 28px;
    line-height: 32px;
    margin-top: 13px;
  }
}

main {
  & > div {
    margin-bottom: 20px;
  }
}

body {
  h2 {
    font-size: 42px;
  }

  p, li {
    font-size: 22px;
  }
}

.about {
  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.projects {
  .project {
    ul {
      list-style-position: inside;
      list-style-type: square;
      padding-left: 13px;
    }

    li {
      line-height: 32px;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .cs-hr-top {
    margin-top: 7px;
  }

  .cs-hr-mid {
    margin: 7px 0;
  }

  .cs-hr-bottom {
    margin-bottom: 7px;
  }
}

.essay {
  ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin-top: 7px;
  }
}

footer {
  text-align: center;
  
  p {
    font-size: 18px;
  }
  
  a {
    color: inherit;
    text-decoration: underline;
  }
}

@media (max-width: 520px) {
  body {
    padding: 26px;
  }
}
